
<div class="duck_image" style="background-image: url(https://res.cloudinary.com/dm37aktki/image/upload/v1644318226/duck-home_bm4dju.png)">
<div style="margin-left: 40px">
  <h1>Welcome to Duck Buddies</h1>
  <h5>Insights are often found by simply describing the problem aloud.<br>
    <i>— Duck, Quack Overflow</i></h5><br>
  <h2><%= link_to "See Our Top Ducks!", ducks_path %></h2>
</div>
