
<div class="duck_image" style="background-image: url(https://res.cloudinary.com/dm37aktki/image/upload/v1644318226/duck-home_bm4dju.png)">
<h1>Welcome to Duck Buddies</h1>
<h2><%= link_to "See Our Top Ducks!", ducks_path %></h2>
&nbsp;
<h2><%= link_to "Create an Account", new_user_session_path %></h2>
&nbsp;
<h2><%= link_to "Log In", user_session_path %></h2>
