// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";

// cards
.card-duck {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 525px;
  display: inline-block;
  padding: 50px;
  margin: 40px;
  height: 400px;
}
.card-duck > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  padding-bottom: 50px;
}
.card-duck h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  width: 200;
}
.card-duck p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  width: 200px;
}
.card-duck .card-infos {
  padding: 16px;
  display: flex;
  // justify-content: center;
  // align-items: flex-end;
  position: relative;
  left: 100px;
}
.card-infos {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
.card-bottom {
  position: absolute;
  top: 100px;
  width: 200px;
}
// fonts
h1 {
  color: #1F3D51;
}

// my bookings
.duck-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.booked-duck {
  overflow: hidden;
  width: 75%;
  height: 200px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin-bottom: 20px;
}

.booked-duck img {
  height: 100%;
  width: 170px;
  object-fit: cover;
}

.booked-duck h2 {
  // font-size: 32px;
  font-weight: bold;
  margin: 0;
}

.booked-duck p {
  // font-size: 24px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
}

.booked-duck .booked-duck-details {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.booked-duck .booked-duck-dates {
  padding: 50px;
  width: 1200px;
  margin-left: 100px;
  text-align: center;
}

.booked-duck .booked-duck-dates p {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
}

.booked-duck .booked-duck-dates .ampersand {
  line-height: 0.75;
}
