// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";

// cards
.card-duck {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 500px;
  display: inline-block;
  padding: 50px;
  margin: 40px;
  height: 378px;
}
.card-duck > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  padding-bottom: 5px;
}
.card-duck h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  width: 200;
}
.card-duck p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  width: 200px;
}
.card-duck .card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.card-infos {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
.card-bottom {
  position: absolute;
  bottom: -40px;
  width: 200px;
}
// fonts
h1 {
  color: #1F3D51;
}
