$navy: #1F3D51;
$coral: #FF8860;
$yellow: #F7D635;
$lightblue: #d8e4f7;
$pink: #F1C9C2;

.navbar {
  justify-content: space-between;
  background-color: $lightblue;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: sticky;
  top: 0px;
  a {
    color: $coral;
  }
  a:hover {
    color: #FF8860;
    text-decoration: underline;
  }
}

.navbar {
  justify-content: space-between;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar-blue {
  background-color: $lightblue;
}

.navbar .navbar-brand img {
  width: 40px;
}

@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: #FF8860;
  background-image: none;
  &:hover {
    text-decoration: underline;
    background-image: none;
    color: #FF8860;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #FF8860;
  background-image: none;
  &:hover {
    text-decoration: underline;
    background-image: none;
    color: #FF8860;
  }
}

#pimp-link {
  display: inline-block;
}

a.navbar-brand {
  background-image: none;
}
