// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "components/avatar";

$navy: #1F3D51;
$coral: #FF8860;
$yellow: #F7D635;
$lightblue: #D6E8D9;
$pink: #F1C9C2;



body {
  background-color: white;
}
h1 {
  font-family: 'Bubblegum Sans', cursive;
  font-size: 56px;
}
h2, body, p, h3, h4, h5 {
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  font-family: 'Bubblegum Sans', cursive;
  color: #1F3D51;
  background: url(https://www.andyhooke.co.uk/wp-content/uploads/2018/02/yellow-brushstroke.png);
  background-repeat: no-repeat;
  background-size: 100% 95%;
  padding: 8px 0;
    &:hover {
      text-decoration: none;
      font-family: 'Bubblegum Sans', cursive;
      color: $coral;
    }
}

// devise forms
.form-inputs {
  margin: auto;
  width: 50%;
}
.btn {
  background-color: $navy;
  color: white;
  border-radius: 4px;
  &:hover {
    background-color: $yellow;
  }
}
